.search-result-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.search-result-wrapper .result {
  width: 30%;
  flex-grow: 1;
  padding: 10px;
  max-width: 450px;
}

.post-title{
  width: 60%;
  margin: auto;
}

.search-result-wrapper .result .post-title strong {
  font-size: 18px;
}

.search-result-wrapper .result .post-img {
  width: 100%;
}

