.search-result-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  max-width: 720px;
}

.search-result-wrapper .result {
  padding: 0 10px 10px 10px;
}
.search-result-wrapper,
.search-result-wrapper .result {
  margin: 0 auto;
}
.search-result-wrapper .result .post-title strong {
  font-size: 18px;
}
.search-result-wrapper .result .post-img {
  width: 185px;
}

@media (max-width: 520px) {
  .search-result-wrapper .result {
    padding: unset;
  }
  .search-result-wrapper .result .post-img {
    width: 150px;
  }
}
@media (max-width: 420px) {
  .search-result-wrapper .result .post-img {
    width: 120px;
  }
}
