.searchbar-container {
  padding: 5px;
}

.searchbar-with-icn {
  padding: 4px 8px;
  border: 1px solid #343a40;
  display: inline-block;
}

.search-icon {
  width: 25px;
  vertical-align: middle;
}

.searchbar {
  border: 0;
  outline: 0;
  width: 230px;
  font-size: 15px;
  padding: 2px 5px;
}

@media(max-width: 440px){
  .searchbar {
    width: 190px;
  }
}